@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://www.jamesgmartin.center/wp-content/uploads/2020/06/AdobeStock_291774831-1200x800.jpeg"); background-size: 100%;">
    <h1>Activist Community</h1>
    <p class="lead">Activist Community is a website that brings together some of the worlds most active citizens and adressing the issues that matter to you. We do this by seeking to empower our members by helping them to petition their governments and give voice to the voiceless.
    <p><a href="/Home/About" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start a Petition</h2>
        <p>
            Here at Activist Community we believe all our members can can play their part in making our world a better place. Start your petition here!
        </p>
        <p><a class="btn btn-default" href="/Petition/NewPetition">Create a petition &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check our petitions</h2>
        <p>Check out some of our petitions and get inspired!</p>
        <p><a class="btn btn-default" href="/Petition/DisplayPetitions">Our Petitions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up!</h2>
        <p>Sign up and begin your activist journey.</p>
        <p><a class="btn btn-default" href="/User/SingUp">SignUp</a></p>
    </div>
</div>